body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: space-around;
  background-color: #282c34;
  color: #09d3ac;
  font-size: 2em;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Oxygen", "Helvetica Neue",
    sans-serif;
}
